ar:
  conf:
    name: "حفل \"اويشير\": مهرجان لمدة 3 ايام حول الأقتصاد التعاوني"
    description: "المهرجان لمدة ثلاثة أيام يجمع مجتمعات عالميه من رواد الأعمال والمصممين والصناع والاقتصاديين والمستثمرين والسياسيين والمواطنين لبناء مستقبل تعاوني. باريس، مايو 2-3-4، عام 2013."
  og:
    title: "حفل \"اويشير\":  مهرجان للاقتصاد التعاوني"
    description: "المهرجان لمدة ثلاثة أيام يجمع مجتمعات عالميه من رواد الأعمال والمصممين والصناع والاقتصاديين والمستثمرين والسياسيين والمواطنين لبناء مستقبل تعاوني. باريس، مايو 2-3-4، عام 2013."
  sections:
    about: "حول المهرجان"
    topics: "مواضيع المهرجان"
    speakers: "المتكلمون"
    program: "البرنامج"
    partners: "الشركاء"
    team: "الفريق"
    location: "المكان"
    register: "سجل"
  partners:
    invitation: "اذا تود ان تكون شريك,<br/> فالرجاء الأتصال بنا عن طريق الأيميل <span class='contact'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "\"اويشير\" هو تجمع عالمي مفتوح من اشخاص يعملون على تسريع الانتقال الى اقتصاد تعاوني. "
    design: "صمم"
    development: "تطور"
  location:
    title: "شاركنا في هذا المكان الساحر"
    paris: "باريس"
  about:
    '1':
      title: "أول حدث أوروبي كبير حول ألاقتصاد التعاوني."
      description: "هذا المهرجان لمدة ثلاثة أيام يجمع مجتمعات عالميه من رواد الأعمال والمصممين والصناع والاقتصاديين والمستثمرين والسياسيين والمواطنين لبناء مستقبل تعاوني. <br/><strong>باريس، مايو 2-3-4، عام 2013.</strong>"
    '2':
      title: "ليس مؤتمر اعمال اّخر"
      description: "من خلال التصاميم التشاركيه مع مجتمع أويشير, سيعرض المهرجان مجموعة واسعة من الأنشطة العمليه والموسيقى الحية الرائعه. \n<br/><strong> سيجمع ايوم الأول والثاني اكثر من 500 مهني وموظف عام. <br/><strong> اليوم الثالث سيكون حر ومفتوح للعموم."
  topics:
    '1':
      title: "الأقتصاد التعاوني في اوروبا يكسب عزم."
      description: "بدائل تعاونيه من النظير إلى النظير، منفتحه  لا حصر لها، تعيد اكتشاف الطريقة التي ينتج  بها ويستخدم السلع والموارد والخدمات، يسخيرمن خلالها قوة المجتمعات."
    '2':
      title: "الأستهلاك التعاوني"
      description: "رفع قوة الأنترنت والنظائر لنعيد اكتشاف كيف نشارك ونستأجر ونتبادل السلع التجاريه والخدمات"
    '3':
      title: "الصناع والانتاج للنظير"
