cs:
  conf:
    name: "OuiShare Fest: třídenní festival o kolaborativní ekonomice"
    description: "Třídenní festival spojující globální komunitu podnikatelů, projektantů, tvůrců, ekonomy, investory, politiky a občany k vybudování kolaborativní budoucnosti. Paříž, květen 2-3-4, 2013."
  og:
    title: "OuiShare Fest: Festival Kolaborativní Ekonomiky"
    description: "Třídenní festival spojující globální komunitu podnikatelů, projektantů, tvůrců, ekonomy, investory, politiky a občany k vybudování kolaborativní budoucnosti. Paříž, květen 2-3-4, 2013."
  sections:
    about: "O festivalu"
    topics: "Témata"
    speakers: "Řečníci"
    program: "Program"
    partners: "Partneři"
    team: "Tým"
    location: "Místo konání"
    contribute: "Přispět"
    register: "Registrace"
  partners:
    invitation: "Pokud byste se chtěli stát partnerem,<br/>kontaktujte nás prosím na <span class='contact'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "OuiShare je otevřená globální komunita lidí, kteří pracují k urychlení přechodu na kolaborativní ekonomiku. Jsme podnikatelé, designéři, tvůrci, výzkumní pracovníci, veřejní činitelé, občané a <strong>více</strong>.<br/> Dozvíte se více o nás na"
    design: "Návrh"
    development: "Vývoj"
  location:
    title: "Přidej se k nám v tomto magickém místě"
    paris: "Paříž"
  about:
    '1':
      title: "První velká Evropská akce věnovaná kolaborativní ekonomice."
      description: "Tento třídenní festival svede dohromady globální společenství podnikatelů, projektantů, tvůrců, ekonomy, investory, politiky a občany k ání kolaborativní budoucnosti. <br/> <strong> Paříž, květen 2-3-4, 2013. </ strong>"
    '2':
      title: "Není to jen další konference o podnikání."
  topics:
    '1':
      title: "Kolaborativní Ekonomika v Evropě se rozbíhá."
      description: "Nespočetné kolaborativní, peer-to-peer, a otevřené alternativy objevují způsob, jakým vyrábíme a používáme zboží, zdroje a služby, využitím síly komunit."
    '2':
      title: "Kolaborativní Spotřeba"
      description: "využívá sílu internetu a peer-to-peer sítí ke znovu vynalézt jak sdílíme, pronajímáme, vyměníme nebo obchodujeme zboží a služby."
    '3':
      title: "Makers a Vrstevnícká Výroba"
      description: "uváději novou průmyslovou revoluci. Výroba je demokratizována prostřednictvím digitální výrobní nástroji (3D tiskárny), místní výrobní zařízení (FabLabs) a sdílení open source návrhů hardwaru."
    '4':
      title: "Finance Peer-to-Peer"
      description: "distribuuje kapitál prostřednictvím crowdfunding a peer-to-peer půjčování, zatímco alternativní měny a dárkové ekonomiky vytvářejí nové formy směnné hodnoty"
    '5':
      title: "Otevřené Znalosti"
      description: "tvoří základ pro vybudování udržitelných společností, pomocí otevření a demokratizací vlád, vědy, vzdělání, kultury a ekonomiky."
  contribute:
    title: "Nejen další konference o podnikání"
    post: "Přidejte nápad<br/>na naší stěnu idejí"
    host: "Hostit <br/> satelitní akce"
    volunteer: "Dobrovolník<br/>pro d-day"
    sponsor: "Staňte se<br/>sponzorem"
