de:
  conf:
    name: "OuiShare Fest: eine dreitägige Konferenz über die Collaborative Economy"
    description: "Ein dreitägiges Festival, das eine globale Gemeinschaft von Unternehmern, Designern, Ökonomen, Investoren, Politikern und Bürgern zusammenbringt, um die Zukunft der Collaborative Economy zu gestalten. In Paris, 2. bis 4. Mai, 2013."
  og:
    title: "OuiShare Fest : Ein Collaborative Economy Festival "
    description: "Ein dreitägiges Festival, das eine globale Gemeinschaft von Unternehmern, Designern, Ökonomen, Investoren, Politikern und Bürgern zusammenbringt, um die Zukunft der Collaborative Economy zu gestalten. In Paris, 2. bis 4. Mai, 2013."
  sections:
    about: "Was"
    topics: "Themen"
    speakers: "Speaker"
    program: "Programm"
    partners: "Partner"
    team: "Team"
    location: "Wo"
    contribute: "Mitmachen"
    register: "Tickets"
  partners:
    invitation: "Wenn Sie ein Partner werden möchten, <br/> kontaktieren Sie uns bitte unter <span class='contact'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "OuiShare ist eine globale Gemeinschaft von Menschen, die den Übergang zur Collaborative Economy unterstützen. Wir sind Unternehmer, Designer, Ökonomen, Investoren, Politiker, Bürger und mehr. <strong>anderen</strong>.<br/> Lesen Sie mehr über uns auf"
    design: "Design"
    development: "Entwicklung"
  location:
    title: "Seien Sie dabei, an diesem magischen Ort."
    paris: "Paris"
  about:
    '1':
      title: "Die erste große europäische Veranstaltung über die Collaborative Economy."
      description: "Dieses dreitägige Festival wird ein globales Netzwerk von Unternehmern, Designern, Ökonomen, Investoren, Politikern und Bürgern zusammenbringen, um die Zukunft der Collaborative Economy zu gestalten. Paris, 2. bis 4. Mai, 2013"
    '2':
      title: "Keine übliche Konferenz. "
      description: "Von seinen Besuchern selbst mitgestaltet, bietet OuiShare Fest eine große Bandbreite von Hands-on-Aktivitäten und großartige Live-Musik.<br><strong>Die ersten beiden Tage </strong> sind für 500 Experten und Politiker bestimmt. Der dritte Tag ist kostenlos und der Öffentlichkeit gewidmet."
  topics:
    '1':
      title: "Die Collaborative Economy in Europa kommt in Schwung."
      description: "Zahlreiche kollaborative, Peer-to-Peer-und Open-Source-Alternativen sind im Begriff die Art und Weise, wie wir Waren und Dienstleistungen produzieren und konsumieren, neu zu definieren."
    '2':
      title: "Collaborative Consumption"
      description: "ermöglicht durch die Macht des Internets \nund Peer-to-Peer Netzwerken das Teilen, Tauschen und Mieten von Waren und Dienstleistungen."
    '3':
      title: "Die Maker Bewegung und Peer Produktion"
      description: "setzen eine neue industrielle Revolution in Gang. Die Produktion von Gütern wird durch digitale Fabrikationstechniken (3D Drucker), lokale Produktionsstätten (FabLabs) und dem Teilen von Open Source Hardware Designs demokratisiert."
    '4':
      title: "Peer-to-Peer Finance"
      description: "bringt Kapital in den Umlauf durch Crowdfunding and Peer-to-Peer-Kredite, während alternative Währungen und Schenkökonomien neue Tauschwerte schaffen."
    '5':
      title: "Offenes Wissen"
      description: "schafft die Basis für eine nachhaltige Gesellschaft durch die Öffnung und Demokratisierung von Regierung, Wissenschaft, Bildung, \nKultur und Wirtschaft."
  contribute:
    title: "Keine übliche Konferenz."
    description: "Von der Konzeptualisierung bis zum letzten Konferenztag wird OuiShare Fest von seinen Besuchern und Partnern mitgestaltet. Somit wird das Event zu einem richtigen gemeinschaftlichen Erlebnis."
    post: "Poste eine Idee<br/> an unsere Ideen-Wand"
    codesign: "Gestalte das <br/>Programm mit <br/>"
    host: "Organisiere<br/> eine Satellitveranstaltung"
    volunteer: "Helfe am Festivaltag mit"
    sponsor: "Werde Sponsor"
  register:
    first: "<strong>OuiShare und La Fonderie</strong> sind Non-Profit Organisationen. Wir möchten es jedem ermöglichen, an der Konferenz teilzunehmen. "
    second: "<strong> Die ersten zwei Tage</strong> sind für <strong>Experten</strong> bestimmt, um die Ökonomie des Teilens zu erforschen und die Zukunft dieser neuen Wirtschaftsform gemeinsam zu gestalten. Auf dem Programm stehen Panels und Plenarsitzungen mit inspirierenden Referenten sowie Workshops \nund Barcamps. Die Anzahl der Teilnehmer ist begrenzt und Tickets kosten zwischen 120 und 350 Euro. Der Preis hängt von den Mitteln Ihrer Organisation und dem Zeitpunkt des Ticketerwerbs ab. Die Anzahl von Frühbuchertickets ist begrenzt, also warten Sie mit der Buchung nicht zu lange! <br/>Studenten, bitte meldet <a href='mailto:hello@ouisharefest.com'> </a>bei uns, denn für euch haben wir ermäßigte Tickets reserviert. PS: Essen, Getränke und eine große Party am Ende der Veranstaltung sind im Preis enthalten."
    third: "<strong>Tag 3</strong> ist <strong>kostenlos</strong> und der Öffentlichkeit gewidmet. Es wird Live-Crowdfunding-Sessions, Makers Labs, How-To Workshops und andere Aktionen rund um den Lebensstil des Teilens geben, die am Hauptstandort der Konferenz und als Satellitveranstaltungen in ganz Paris stattfinden werden. Dabei sollen die Besucher die Collaborative Economy hautnah erfahren. Mehr Information zum Programm gibt es bald. "
