de:
  conf:
    name: "OuiShare Fest: Ein dreitägiges Festival zur collaborative economy"
    description: "Ein dreitägiges Festival, das eine globale Gemeinschaft von Unternehmern, Designern, Ökonomen, Investoren, Politikern und Bürgern zusammenbringen um die Zukunft der Collaborative Economy zu gestalten. Paris, 2. bis 4. Mai 2013"
  og:
    title: "OuiShare Fest : Ein Collaborative Economy Festival "
    description: "Ein dreitägiges Festival, das eine globale Gemeinschaft von Unternehmern, Designern, Ökonomen, Investoren, Politikern und Bürgern zusammenbringen um die Zukunft der Collaborative Economy zu gestalten. Paris, 2. bis 4. Mai 2013"
  sections:
    about: "Hintergrund"
    topics: "Themen"
    speakers: "Vortragende"
    program: "Programm"
    partners: "Partner"
    team: "Team"
    location: "Veranstaltungsort"
    contribute: "Mitmachen"
    register: "Registrierung"
  partners:
    invitation: "Wenn sie ein ein Partner werden möchten, <br/> kontakieren sie uns bitte unter <span class='contact'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "OuiShare ist eine globale Gemeinschaft aus Menschen, die den Übergang zur Collaborative Economy unterstützen. Wir sind Unternehmern, Designern, Ökonomen, Investoren, Politikern und Bürgern und <strong>anderen</strong>.<br/>Finde mehr über uns heraus"
    design: "Design"
    development: "Entwicklung"
  location:
    title: "Schließe dich uns an diesem magischen Ort an"
    paris: "Paris"
  about:
    '1':
      title: "Die erste große, europäische Veranstaltung, die der Collaborative Economy gewidmet ist "
      description: "Ein dreitägiges Festival, das ein globales Netzwerk von Unternehmern, Designern, Ökonomen, Investoren, Politikern und Bürgern zusammenbringen um die Zukunft der Collaborative Economy zu gestalten. Paris, 2. bis 4. Mai 2013"
    '2':
      title: "Nicht bloß eine weitere Firmenmesse "
      description: "Von seinen Besuchern selbst mitgestaltet, wird es eine große Bandbreite von Hands-on-Aktivitäten und großartige Live-Musik geben.<br><strong>Die ersten beiden Tage </strong> sind für 500 Experten und Politiker bestimmt. Der dritte Tag ist kostenlos und der Öffentlichkeit gewidmet."
  topics:
    '1':
      title: "Die Collaborative Economy kommt in Europa in Schwung."
      description: "Zahlreiche kollaborative, Peer-to-Peer-und Open-Source-Alternativen sind im Begriff die Art und Weise, wie wir Waren und Dienstleistungen produzieren und konsumieren, neu zu definieren."
    '2':
      title: "Collaborative Consumption"
      description: "ermöglicht durch die Macht des Internets \nund Peer-to-Peer Netzwerke das Teilen, Tauschen und Mieten von Waren und \nDienstleistungen."
    '3':
      title: "Die Maker Bewegung und Peer Produktion"
      description: "setzt eine neue industrielle Revolution in Gang. Die Produktion von Gütern wird durch digitale Fabrikationstechniken (3D Drucker), lokale Produktionsstätten (FabLabs) und dem Teilen von Open Source Hardware Designs demokratisiert."
    '4':
      title: "Peer-to-Peer Finance"
      description: "bringt Kapital in den Umlauf durch Crowdfunding and Peer-to-Peer-Kredite, während alternative Währungen und \nSchenkökonomien zu neuen Tauschwerte schaffen."
    '5':
      title: "Offenes Wissen"
      description: "schafft die Basis für eine nachhaltige Gesellschaft durch die Öffnung und Demokratisierung von Regierung, Wissenschaft, Bildung, \nKultur und Wirtschaft."
  contribute:
    title: "Nicht bloß eine weitere Firmenmesse"
    description: "Von der Konzeptualisierung bis zum letzten Festivaltag, wird das OuiShare Fest von seinen Besuchern und Partnern selbst mitgestaltet um es zu einer echten, gemeinschaftlichen Erlebnis zu machen."
    post: "Poste eine Idee<br/> an unsere Ideen-Wand"
    codesign: "Helfe uns das Programm<br/>mitzugestalten<br/>"
    host: "Veranstalte<br/> eine Satellitenveranstaltung"
    volunteer: "Helfe am Festivaltag mit"
    sponsor: "Werde Sponsor"
  register:
    first: "<strong>OuiShare und La Fonderie</strong> sind non-profit Organisationen und wir möchten es jedem ermöglichen an dem Fest mit teilnehmen zu lassen. "
    second: "<strong> Die ersten zwei Tage</strong> sind für <strong>Experten</strong> bestimmt, um die Ökonomie des Teilens zu erforschen und die Zukunft dieser neuen Wirtschaftsform gemeinsam zu gestalten.  Panels und Plenarsitzungen mit inspirierenden Referenten, Workshops \nund Barcamps, welche zu greifbaren und umsetzbaren Ergebnissen führen sollen, stehen auf dem Programm. Die Anzahl der Teilnehmer ist begrenzt und kostet zwischen 120 und 350 Euros. Der Preis hängt von den Mitteln ihrer Organisation und dem Zeitpunkt des Ticketerwerbes ab. Die Anzahl von Frühbucher-tickets ist begrenzt, warte daher nicht mit der Buchung deines Tickets ab!<br/>Students, please <a href='mailto:hello@ouisharefest.com'> meldet euch </a>bei uns- für euch wurden einige Ermäßigungstikets reserviert. PS.: Essen, Getränke und eine Party am Ende des Festivals sind im Preis enthalten."
    third: "<strong>Tag 3</strong>ist <strong>kostenlos</strong> und der Öffentlichkeit gewidmet. Live-Crowdfunding-Sessions, Makers Labs und How-To Workshops und andere Aktionen rund um den Lebensstil des Teilens, finden am Hauptstandort der Konferenz und auch Satellitenveranstaltung in ganz Paris statt und erlauben es den Menschen Collaborative Economy direkt zu erfahren. Bleib dran, das Programm wird bald bekannt gegeben."
