el:
  conf:
    name: "Ouishare Fest: ένα τριήμερο φεστιβάλ για τη Συνεργατική Οικονομία"
    description: "Αυτό το τριήμερο φεστιβάλ θα φέρει σε επαφή την παγκόσμια κοινότητα επιχειρηματιών, designers, δημιουργών, οικονομολόγων, πολιτικών και πολιτών με σκοπό τη δημιουργία ενός συνεργατικού μέλλοντος. Παρίσι, 2-3-4 Μαϊου 2013."
  og:
    title: "Ouishare Fest: ένα φεστιβάλ για τη Συνεργατική Οικονομία"
    description: "Αυτό το τριήμερο φεστιβάλ θα φέρει σε επαφή την παγκόσμια κοινότητα επιχειρηματιών, designers, δημιουργών, οικονομολόγων, πολιτικών και πολιτών με σκοπό τη δημιουργία ενός συνεργατικού μέλλοντος. Παρίσι, 2-3-4 Μαϊου 2013."
  sections:
    about: "Σχετικά"
    topics: "Θέματα"
    speakers: "Ομιλητές"
    program: "Πρόγραμμα"
    partners: "Συνεργάτες"
    team: "Ομάδα"
    location: "Τοποθεσία"
    contribute: "Συμμετοχή"
    register: "Εγγραφή"
  partners:
    invitation: "Αν θέλετε να συμμετέχετε ως συνεργάτης,<br/>στείλτε μας ένα μήνυμα στη διεύθυνση <span class='contact'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "Στο OuiShare είμαστε μια ανοικτή παγκόσμια κοινότητα ανθρώπων και εργαζόμαστε με την επιθυμία να επιταχύνουμε τη στροφή σε μια συνεργατική οικονομία. Είμαστε επιχειρηματίες, designers, δημιουργοί, ερευνητές, δημόσιοι λειτουργοί, πολίτες και <strong>πολλοί άλλοι</strong>.<br/>Μάθετε περισσότερα για εμάς:"
    design: "Σχεδιασμός"
    development: "Ανάπτυξη"
  location:
    title: "Ελάτε μαζί μας σε αυτό το μαγικό χώρο"
    paris: "Παρίσι"
  about:
    '1':
      title: "Η πρώτη σημαντική ευρωπαϊκή εκδήλωση που είναι αφιερωμένη στη συνεργατική οικονομία."
      description: "Αυτό το τριήμερο φεστιβάλ θα φέρει σε επαφή την παγκόσμια κοινότητα επιχειρηματιών, designers, δημιουργών, οικονομολόγων, πολιτικών και πολιτών με σκοπό τη δημιουργία ενός συνεργατικού μέλλοντος.<br/><strong>Παρίσι, 2-3-4 Μαϊου 2013.</strong>"
    '2':
      title: "Όχι απλά άλλο ένα επαγγελματικό συνέδριο."
      description: "Το OuiShare Fest \"συν-διοργανώνεται\" από τα μέλη της κοινότητας και θα περιλαμβάνει μια ευρεία γκάμα από διαδραστικές δραστηριότητες και υπέροχη ζωντανή μουσική.<br/>Τις<strong>Ημέρες 1-2</strong> θα συμμετέχουν 500 επαγγελματίες και δημόσιοι λειτουργοί.<br/>Η<strong>Ημέρα 3</strong> θα είναι δωρεάν και ανοιχτή στο κοινό."
  topics:
    '1':
      title: "Η Συνεργατική Οικονομία κερδίζει όλο και περισσότερο έδαφος."
      description: "Αμέτρητες εναλλακτικές για συνεργασία, peer-to-peer ανταλλαγή και ανοικτή πρόσβαση επανακαθορίζουν τον τρόπο που παράγουμε και χρησιμοποιούμε αγαθά, πόρους και υπηρεσίες προς όφελος της ισχύος των κοινοτήτων."
    '2':
      title: "Συνεργατική Οικονομία"
      description: "χρησιμοποιεί τη δύναμη του διαδικτύου και των δικτύων peer-to-peer για να επανακαθορίσει τον τρόπο που μοιραζόμαστε, νοικιάζουμε, ανταλλάσσουμε ή εμπορευόμαστε αγαθά και υπηρεσίες."
    '3':
      title: "Δημιουργοί και Peer Production"
      description: "προαναγγέλουν μια νέα βιομηχανική επανάσταση. Η παραγωγή δημοκρατικοποιείται μέσω ψηφιακών εργαλείων παραγωγής (τρισδιάστατοι εκτυπωτές), τοπικές εγκαταστάσεις παραγωγής (FabLabs) και το μοίρασμα σχεδίων για hardware μέσω ανοικτής πηγής."
    '4':
      title: "Χρηματοδότηση Peer-to-Peer"
      description: "διανέμει το κεφάλαιο μέσω crowdfunding και δανεισμό peer-to-peer την ώρα που τα εναλλακτικά νομίσματα και τα μοντέλα χαριστικής οικονομίας δημιουργούν νέες μορφές ανταλλαγής αξίας"
    '5':
      title: "Ανοικτή Γνώση"
      description: "με το άνοιγμα και περίσσοτερη δημοκρατία των κυβερνήσεων, της επιστήμης, της εκπαίδευση, του πολιτισμού και της οικονομίας, δημιουργεί τη βάση για τη δημιουργία κοινωνιών που λειτουργούν με τις αρχές της αειφόρου ανάπτυξης"
  contribute:
    title: "Όχι απλά άλλο ένα επαγγελματικό συνέδριο."
    description: "Από την στιγμή που συλλάβαμε την ιδέα μέχρι την d-day, το OuiShare Fest θα συν-σχεδιαστεί από τα μέλη και τους συνεργάτες της κοινότητας του  OuiShare ώστε η εκδήλωση να γίνει μια πραγματικά συνεργατική εμπειρεία."
    post: "Προσθέστε την ιδέα σας <br/>στο Idea Wall μας"
    codesign: "Βοηθήστε μας να<br/>συν-σχεδιάσουμε<br/>το πρόγραμμα"
    host: "Φιλοξενήστε μια<br/>παράλληλη εκδήλωση"
    volunteer: "Γίνετε εθελοντής για την<br/>d-day"
    sponsor: "Γίνετε <br/>χορηγός"
  register:
    first: "<strong>Οι οργανώσεις OuiShare και La Fonderie</strong> είναι μη κερδοσκοπικού χαρακτήσα και επιθυμία μας είναι όλοι να μπορέσουν να συμμετάσχουν στο Fest."
    second: "Οι <strong>Ημέρες 1 και 2</strong> είναι για <strong>επαγγελματίες/ειδικούς</strong> που επιθυμούν να ενημερωθούν για το νέο οικονομικό μοντέλο και να συμβάλουν από κοινού για το μέλλον του. Πάνελ ειδικών, πληθώρα συνεδριάσεων, workshops, barcamps και άλλα πολλά. Ο αριθμός των εισιτηρίων είναι περιορισμένος και οι τιμές κυμαίνονται από 120 έως 350 ευρώ, ανάλογα με τους πόρους της οργάνωσης σας και τον χρόνο αγοράς των εισιτηρίων. Διατίθεται ένας περιορισμένος αριθμός Εarly Βird εισιτηρίων γι΄αυτό μην καθυστερείτε: αγοράστε το εισιτήριο σας σήμερα!<br/> Όσοι φοιτητές ενδιαφέρονται μπορούν να  <a href='mailto:hello@ouisharefest.com'>επικοινωνήσουν</a> μαζί μας - έχουμε λίγα εισιτήρια σε ειδική τιμή για φοιτητές. ΥΣ.: Στην τιμή περιλαμβάνονται φαγητό, ποτά και είσοδος για το πάρτυ της εκδήλωσης."
    third: "Η <strong>Ημέρα 3</strong>θα είναι <strong>απολύτως δωρεάν</strong> και ανοικτή στο κοινό. Με συνεδρίες crowdfunding, maker's labs, workshops και πολλές δραστηριότητες σχετικά με τον συνεργατικό τρόπο ζωής στην κεντρική τοποθεσία του συνεδρίου, καθώς και παράλληλες εκδηλώσεις σε όλο το Παρίσι, οι κάτοικοι και επισκέπτες θα μπορέσουν να βιώσουν από πρώτο χέρι τη συνεργατική οικονομία. Μείνετε συντονισμένοι για το λεπτομερές πρόγραμμα."
