es:
  conf:
    name: "OuiShare Fest: un festival de tres días sobre la economía colaborativa"
    description: "Un festival de tres días que reunirá a una comunidad global de emprendedores, diseñadores, makers, economistas, inversores, políticos y ciudadanos para construir un futuro más colaborativo. París, 2-3-4 de Mayo, 2013."
  og:
    title: "OuiShare Fest: El festival de la Economía Colaborativa"
    description: "Un festival de tres días que reunirá a una comunidad global de emprendedores, diseñadores, makers, economistas, inversores, políticos y ciudadanos para construir un futuro más colaborativo. París, 2-3-4 de Mayo, 2013."
  sections:
    about: "Acerca de"
    topics: "Temas"
    speakers: "Ponentes"
    program: "Programa"
    partners: "Partners"
    team: "Equipo"
    location: "Localización"
    contribute: "Participa"
    register: "Registro"
  partners:
    invitation: "Si te gustaría convertirte en partner,<br/>por favor contáctanos en <span class='contacto'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "OuiShare es una comunidad abierta y global de personas que trabajan para accelerar el cambio hacia una economía más colaborativa. Somos emprendedores, diseñadores, makers, investigadores, representantes públicos, ciudadanos y <strong>más</strong>.<br/>Descubre más sobre nosotros"
    design: "Diseño"
    development: "Desarrollo"
  location:
    title: "Únete a nosotros en este lugar mágico"
    paris: "París"
  about:
    '1':
      title: "El primer gran evento europeo dedicado a la Economía Colaborativa."
      description: "Este festival de tres días que reunirá a una comunidad global de emprendedores, diseñadores, makers, economistas, inversores, políticos y ciudadanos para construir un futuro más colaborativo.<br/><strong>París, 2-3-4 de Mayo, 2013.</strong>"
    '2':
      title: "Esto no es otra conferencia de negocios."
      description: "Co-diseñado con su comunidad, el OuiShare Fest contará con un amplia gama de actividades prácticas y música en directo.<br/><strong>En los primeros dos días</strong> se reunirán 500 profesionales y representantes públicos. <br/><strong>El tercer día</strong> será gratuito y las actividades estarán abiertas al público."
  topics:
    '1':
      title: "La Economía Colaborativa está ganando impulso en Europa."
      description: "Incontables iniciativas colaborativas, peer-to-peer, y alternativas abiertas están reinventando el modo en que producimos y usamos bienes, servicios y recursos, aprovechando el poder de las comunidades."
    '2':
      title: "Consumo Colaborativo"
      description: "aprovecha el poder de Internet y de las redes peer-to-peer para reinventar cómo compartir, alquilar, intercambiar o comerciar bienes y servicios."
    '3':
      title: "El movimiento Maker y la Peer Production"
      description: "están marcando el comienzo de una nueva revolución industrial. La fabricación se está democratizando por las herramientas de fabricación digital (impresoras 3D), las instalaciones de producción local (FabLabs) y la distribución de diseños de hardware en código fuente abierto."
    '4':
      title: "Las finanzas Peer-to-Peer"
      description: "distribuyen el capital a través del crowdfunding y los préstamos entre personas, a la vez que las monedas alternativas y las economías del regalo crean nuevas maneras de intercambio de valor."
    '5':
      title: "El Conocimiento Abierto"
      description: "crea las bases para construir sociedades sostenibles por medio de la apertura y la democratización de gobiernos, la ciencia, la educación, la cultura y la economía."
  contribute:
    title: "Esto no es otra conferencia de negocios"
    description: "Desde su conceptualización hasta el día D, el OuiShare Fest estará co-diseñado por la comunidad de OuiShare y los patrocinadores para hacer que este evento sea una verdadera experiencia colaborativa."
    post: "Publica una idea<br/>en el muro de ideas"
    codesign: "Ayúdanos a<br/>co-diseñar<br/>el programa"
    host: "Organiza<br/>un evento satélite"
    volunteer: "Hazte voluntario<br/>para el día D"
    sponsor: "Conviértete<br/>en patrocinador"
  register:
    first: "<strong>OuiShare y La Fonderie</strong> son organizaciones sin ánimo de lucro y nos gustaría que todo el mundo pueda participar en el Fest."
    second: "<strong>Los dos primeros días</strong> son para los <strong>profesionales</strong> que buscan aprender acerca de esta nueva economía y construir juntos su futuro. Paneles, sesiones plenarias, talleres, barcamps y mucho más. Las entradas son limitadas y sus precios varian entre los 120 y los 350 euros, depende de los recursos de tu organización y en qué momento adquieras las entradas. Hay un número limitado de entradas \"early bird\" así que no esperes a reservar!!<br/>Estudiantes, por favor <a href='mailto:hello@ouisharefest.com'>contactadnos</a> - tenemos entradas con descuento reservadas para vosotros. PS.: Comida, bebida y fiesta de clausura están incluidos."
    third: "<strong>El tercer día</strong>será <strong>totalmente gratuito</strong> y abierto para el público. Sesiones de crowdfunding en directo, maker's labs, talleres prácticos y varias actividades acerca de los estilos de vida colaborativo se desarrollarán en el escenario principal de la conferencia. También habrán eventos satélite alrededor de Paris que permitirán a los participantes experimentar de primera mano que es la economía colaborativa. Estad atentos al programa."
