hu:
  conf:
    name: "OuiShare Fest: Három napos fesztivál az együttműködő gazdaságról"
    description: "Három napos nemzetközi fesztivál ami összehoz vállalkozókat, designereket, közgazdászokat, befektetőket, politikusokat és fogyasztókat hogy közösen megteremtsenek egy együttműködésre épülő jövőt. Párizs, Május 2-3-4, 2013."
  og:
    title: "OuiShare Fest: Fesztivál az együttműködő gazdaság szellemében"
    description: "Három napos nemzetközi fesztivál ami összehoz vállalkozókat, designereket, közgazdászokat, befektetőket, politikusokat és fogyasztókat hogy közösen megteremtsenek egy együttműködésre épülő jövőt. Párizs, Május 2-3-4, 2013."
  sections:
    about: "Rólunk"
    topics: "Témák"
    speakers: "Előadók"
    program: "Program"
    partners: "Partnereink"
    team: "Szervezők"
    location: "Helyszín"
    contribute: "Segítek!"
    register: "Regisztráció"
  location:
    paris: "Párizs"
