pl:
  conf:
    name: "OuiShare Fest : trwający trzy dni festiwal o ekonomii społecznej współpracy."
    description: "Trwający trzy dni festiwal skupiający globalna społeczność przedsiębiorców, projektantów, twórców, ekonomistów, wynalazców, polityków i obywateli w celu budowy przyszłości społecznej współpracy. Paryż, 2-3-4 maja 2013."
  og:
    title: "OuiShare Fest:  Festiwal dedykowany ekonomii społecznej współpracy"
    description: "Trwający trzy dni festiwal skupiający globalna społeczność przedsiębiorców, projektantów, twórców, ekonomistów, wynalazców, polityków i obywateli w celu budowy przyszłości społecznej współpracy. Paryż, 2-3-4 maja 2013."
  sections:
    about: "O festuwalu"
    topics: "Tematy"
    speakers: "Prelegaci"
    program: "Program"
    partners: "Partnerzy"
    team: "Organizatorzy"
    location: "Miejsce"
    contribute: "Przyłącz się "
    register: "Rejestracja"
  partners:
    invitation: "Jeśli chcesz dołączyć  do grupy naszych partnerów,<br/>skontaktuj się z nami <span class='contact'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "OuiShere jest globalną społecznością skupiającą ludzi których wspólnym celem jest skierowanie współczesnej ekonomi konsumpcyjnej w kierunku ekonomii społecznej współpracy. Są wśród nas: przedsiębiorcy, projektanci, twórcy, pracownicy naukowi, osoby publiczne, obywatele i <strong>inni</strong>.<br/>Dowiedz się o nas więcej na"
    design: "Design"
    development: "Rozwój "
  location:
    title: "Dołącz do nas w magicznym miejscu"
    paris: "Paryż"
  about:
    '1':
      title: "Pierwsze w Europie, zorganizowane na taka skale wydarzenie dedykowane ekonomii społecznej współpracy."
      description: "Ten trwający trzy dni festiwal skupiający globalna społeczność przedsiębiorców, projektantów, twórców, ekonomistów, wynalazców, polityków i obywateli w celu budowy przyszłości społecznej współpracy.<br/><strong> Paryż, 2-3-4 maja 2013.</strong>"
    '2':
      title: "To nie jest następna, zwykła, konferencja biznesowa. "
      description: "Współtwórz jako cześć  społeczności. W trakcie OuiShare Fest będzie mieć miejsce szeroki zakres interaktywnych wydarzeń przy świetnej muzyce  na żywo. <br/><strong> Dzień 1-2</strong> skupi 500 specjalistów i funkcjonariuszy publicznych.<br/><strong> Dzień 3</strong> będzie bezpłatny i otwarty dla publiczności."
  topics:
    '1':
      title: "Ekonomii społecznej współpracy w Europie nabiera tępa."
      description: "Niezliczone przykłady współpracy, peer-to-peer, otwarte alternatywy zmieniają nasz sposób tworzenia i wykorzystywania towarów, zasobów i usług, wykorzystując sile społeczności."
    '2':
      title: "Wspólna konsumpcja"
      description: "wykorzystuje moc internetu i sieci peer-to-peer aby na nowo zdefiniować to jak  się dzielimy, wynajmujemy, wymieniamy czy handlujemy towarami i usługami."
    '3':
      title: "Tworcy i współ-produkcja"
      description: "zapoczątkowują nowa rewolucje przemysłową. Wytwarzanie produkiot staje się zdemokratyzowana poprzez cyfrowe narzędzia wytwórcze (drukarki 3D), lokalne jednostki produkcyjnych (FabLabs) i udostępnianie otwartych projektów sprzętowych."
    '4':
      title: "Bezposrednie finansowanie Peer-to-Peer"
      description: "dystrybuuje kapitał crowdfundingowy i bezpośrednie pożyczki peet-to-peer, podczas gdy alternatywne waluty i ekonomie donacji tworzą nowe formy wymiany  dóbr "
    '5':
      title: "Otwarta wiedza"
      description: "tworzy podstawy pod budowanie  zrównoważonych społeczeństw poprzez demokratyzacje rządów, nauki, edukacji, kultury i ekonomii."
  contribute:
    title: "To nie jest następna, zwykła, konferencja biznesowa. "
    description: "Od jego koncepcji po dzień wydarzenia, OuiShare Fest będzie współtworzony przez społeczność OuiShare i partnerów tak aby uczynić to go prawdziwie wspólnym doświadczeniem. "
    post: "Podziel się pomysłem <br/>na naszej ścianie pomysłów "
    codesign: "Pomóż nam<br/>współtworzyć<br/>program  "
    host: "Zorganizuj<br/> imprezę towazyszaca"
    volunteer: "Zostań wolontariuszem<br/>podczas wydarzenia"
    sponsor: "Zostań<br/>sponsorem"
  register:
    first: "<strong>OuiShare i La Fonderie</strong> są organizacjami  non-profit i chcieliby aby odział w festiwalu był możliwy dla wszystkich."
    second: "<strong>Dzień 1 i 2</strong>ma charakter<strong>branżowy</strong>skierowany jest do osób zaangażowanych i  poszukujących informacji na temat nowej ekonomii i chcących wspólnie budować przyszłość. Przewidziane się panele dyskusyjne, sesje plenerowe, warsztaty, barcamps i wiele więcej. Liczba biletów jest ograniczona a ceny wahają się od 120 do 350 euro, w zależności od środków jakimi dysponuje twoja organizacja i daty zakupu. Pula biletów w przedsprzedaży jest również ograniczona wiec nie zwlekaj z rezerwacja<br/>Studenci, <a href='mailto:hello@ouisharefest.com'>prosimy o kontakt </a>z nami-mamy dla was zarezerwowane bilety ze zniżką. PS.: Jedzenie, napoje i impreza końcowa wliczona są w cenę biletu."
    third: "<strong> Dzień 3</strong> będzie <strong> bezpłatny </strong> i ogólnie dostępny. Sesje crowdfundingowe na żywo, maker's lab, warsztaty how-to oraz inne wydążenia dotyczące \"sharingu\" które będą miały miejsce w głównej lokalizacji jak również inne  wydążenia towarzyszące w rożnych częściach Paryża pozwolą  doświadczyć czym jest ekonomia społecznościowa z pierwszej reki. W krotce szczegółowy program."
