pt_BR:
  conf:
    name: "Ouishare Fest: um festival de três dias sobre a economia colaborativa"
    description: "Um festival de três dias que vai reunir a comunidade global de empresários, designers, economistas, políticos e cidadãos para construir um futuro colaborativo. Paris, 2-3-4 de maio, 2013."
  og:
    title: "Ouishare Fest: Um Festival da Economia Colaborativa"
    description: "Um festival de três dias que vai reunir a comunidade global de empresários, designers, economistas, políticos e cidadãos para construir um futuro colaborativo. Paris, 2-3-4 de maio, 2013."
  sections:
    about: "Sobre"
    topics: "Tópicos"
    speakers: "Palestrantes"
    program: "Programa"
    partners: "Parceiros"
    team: "Time"
    location: "Local"
    contribute: "Contribua"
    register: "Registro"
  partners:
    invitation: "Se você quiser tornar-se parceiro,<br/>por favor entre em contato <span class='contact'><a href='mailto:contribute@ouisharefest.com'>contribute@ouisharefest.com</a></span>"
  team:
    intro: "OuiShare é uma comunidade global e aberta de pessoas que trabalham para acelerar a mudança para uma economia colaborativa. Nós somos empresários, designers, realizadores, pesquisadores, funcionários públicos, cidadãos e <strong>mais</strong>.<br/>Saiba mais sobre nós aqui"
    design: "Design"
    development: "Desenvolvimento"
  location:
    title: "Junte-se a nós neste lugar mágico"
    paris: "Paris"
  about:
    '1':
      title: "O primeiro grande evento Europeu dedicado à economia colaborativa."
      description: "Este festival de três dias vai reunir a comunidade global de empresários, designers, realizadores, economistas, investidores, políticos e cidadãos para construir um futuro colaborativo. <br/><strong>Paris, 2-3-4, Maio, 2013.</strong>"
    '2':
      title: "Não apenas uma outra conferência de negócios."
      description: "Co-designed com a comunidade. Ouishare Fest vai se caracterizar por um largo espectro de atividades \"mão na massa\" e música ao vivo.<br/><strong>Dias 1-2</strong> vão reunir 500 profissionais e funcionários públicos.<br/><strong>Dia 3</strong> será grátis e aberto ao público."
  topics:
    '1':
      title: "A Economia Colaborativa na Europa está ganhando momentum. "
      description: "Inúmeras iniciativas colaborativas, peer-to-peer e open estão reinventando a maneira como produzimos e usamos nossos recursos, mercadorias e serviços, mobilizando o poder das comunidades."
    '2':
      title: "Consumo Colaborativo"
      description: "utiliza o poder da internet e das redes pessoa-a-pessoa (peer-to-peer) para reinventar o modo como compartilhamos, alugamos, trocamos ou comercializamos produtos e serviços."
    '3':
      title: "Realizadores (Makers) e Produção Pessoal"
      description: "estão conduzindo a uma nova revolução industrial. A manufatura está sendo democratizada com ferramentas de fabricação digital (impressoras 3D), em instalações para produção local (FabLabs) e pelo compartilhamento de designs de hardware open source."
    '4':
      title: "Finanças pessoa-a-pessoa (peer-to-peer)"
      description: "distribui capital através de crowdfunding e empréstimos de pessoa-a-pessoa, enquanto moedas alternativas e economias de doação criam novas maneiras de trocar valor"
    '5':
      title: "Conhecimento Aberto"
      description: "cria a base para a construção de sociedades sustentáveis abrindo e democratizando governos, ciência, educação, cultura e a economia."
  contribute:
    title: "Não apenas uma outra conferência de negócios"
    description: "Desde a sua concepção até o Dia D, Ouishare Fest será co-designed pela comunidade Ouishare e seus parceiros, fazendo deste evento uma experiência realmente colaborativa"
    post: "Publique uma idea<br/>no nosso mural de ideias"
    codesign: "Vamos desenhar<br/>juntos<br/>esse programa"
    host: "Hospede<br/>um evento satélite"
    volunteer: "Seja Voluntário<br/>Para o Dia D"
    sponsor: "Seja<br/>um patrocinador"
  register:
    first: "<strong>OuiShare e La Fonderie</strong> são organizações não lucrativas e nós gostaríamos que todos pudessem participar do Festival."
    second: "<strong>Dias 1 e 2</strong> são para <strong>profissionais</strong> que desejam aprender sobre a nova economia e construir seu futuro em conjunto. Teremos painéis, sessões plenárias, workshops, barcamps e muito mais. Os ingressos são limitados e os preços variam de 120 a 350 euros, dependendo da condição de sua organização e de quando você irá adquiri-los. Existe um número limitado de ingressos \"early bird\", então não espere para comprar os seus!<br/>Estudantes, por favor<a href='mailto:hello@ouisharefest.com'>entrem em contato</a> conosco - nós temos alguns ingressos com desconto reservados para vocês. PS.: Comida, bebida e festa de encerramento estão incluídas."
    third: "<strong>Dia 3</strong>será<strong>totalmente grátis</strong> e aberto ao público. No local da conferência principal , sessões de crowdfunding ao vivo, maker's labs, how-to workshops e várias atividades relativas a estilos de vida baseados no compartilhamento; e por toda Paris, eventos satélite onde as pessoas poderão vivenciar a economia colaborativa. Fique ligado para receber o programa."
