sv:
  conf:
    description: "En tredagars festival som för samman entreprenörer, designers, ekonomer, investerare, politiker och medborgare från hela världen. Tillsammans bygger vi en framtid baserad på gemensam konsumtion. Paris, 2-3-4 maj 2013."
  location:
    paris: "Paris"
